.footer {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;    

    background-color: var(--primary);
}

.footer > span {
    font-weight: 300;
    font-size: 1rem;
}

.footer-red {
    color: var(--red);
}